<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RedisTests</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CacheDataServlet</servlet-name>
    <servlet-class>com.mezzari.servlet.CacheDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheDataServlet</servlet-name>
    <url-pattern>/cache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.mezzari.servlet.ListDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.mezzari.listener.ContextListener</listener-class>
  </listener>
</web-app>